{% extends 'base.html.twig' %}

{% block title %}PRODUCTS PROJECT{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/new/product">New Product</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/new/category">New Category</a>
            </li>
        </ul>
        </div>
    </nav>

    {% if products %}
        <table id="products" class="table table-striped">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        {# <td>{{ product }}</td>  #}
                        <td>
                            <a href="/product/{{ product.id }}" class="btn btn-dark">Show</a> 
                            <a href="/product/edit/{{ product.id }}" class="btn btn-light">Edit</a>
                            <a href="#" class="btn btn-danger delete-article" data-id={{ product.id}}>Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    {% else  %}
        <p>No articles to display</p>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}
